
.footer {
    background: #061D25;
    padding: 5px 0;
}

.footer-p {
    background: #061D25;
    padding: 5px 0;
    color: white;
    font-size: 12px;
}
    .footer a {
        color: #70726F;
        font-size: 15px;
        padding: 10px;
        border-right: 1px solid #70726F;
        transition: all .5s ease;
    }

        .footer a:first-child {
            border-left: 1px solid #70726F;
        }

        .footer a:hover {
            color: white;
        }


html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
}

#map-container {
    height: 1000px
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 10px;
        transition: 0.3s;
        width: 33.3%
    }

        /* Change background color of buttons on hover */
        div.tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        div.tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#ResultText, #Result1Text, #Result2Text {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: Lavender;
}

#crossstreet2Label {
    padding-top: 10px;
}

.user-input {
    width: 100%;
}



@media (max-width:1600px) {
    .img-mainlinks {
        max-width: 100%;
        max-height: 100%;
    }

    .footer-p {        
        padding-top: 10px;
        font-size: medium;
    }

    .form-horizontal {
        padding-left: 260px;
        padding-right: 260px;
        padding-top: 160px;
    }

    .right-btn {
        float: right;
    }

    #ticketsmap-container, #map-container {
        height: 1000px;
    }
}

@media (max-width:1025px) {
    .img-mainlinks {
        max-width: 100%;
        max-height: 100%;
    }

    .footer-p {
        padding-top: 10px;
        font-size: medium;
    }

    .form-horizontal {
        padding-left: 260px;
        padding-right: 260px;
        padding-top: 160px;
    }

    .right-btn {
        float: right;
    }

    #ticketsmap-container, #map-container {
        height: 1080px;
    }
}


@media (max-width:800px) {
    .img-mainlinks {
        max-width: 140px;
        max-height: 140px;
    }

    .footer-p {
        padding-top: 10px;
        font-size: small;
    }

    .form-horizontal {
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 160px;
    }

    .right-btn {
        float: right;
    }

    #ticketsmap-container, #map-container {
        height: 750px;
    }
}

@media (max-width:450px) {
    .img-mainlinks {
        max-width: 140px;
        max-height: 140px;
    }

    .footer-p {
        padding-top: 10px;
        font-size: small;
    }

    .form-horizontal {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 45px;
    }

    .right-btn {
        float: left;
    }

    #ticketsmap-container, #map-container {
        height: 470px;
    }
}

@media (max-width:413px) {
    .img-mainlinks {
        max-width: 100px;
        max-height: 100px;
    }

    .footer-p {        
        padding-top: 10px;
        font-size: small;
    }

    .form-horizontal {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 45px;
    }

    .right-btn {
        float: left;
    }

    #ticketsmap-container, #map-container {
        height: 400px;
    }
}

@media (max-width:380px) {
    .img-mainlinks {
        max-width: 80px;
        max-height: 80px;
    }

    .footer-p {       
        padding-top: 5px;
        font-size: smaller;
    }

    .form-horizontal {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 45px;
    }

    .right-btn {
        float: left;
    }

    #ticketsmap-container, #map-container {
        height: 330px;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.first-td:hover {
    background-color: Highlight;
}

.table tr:hover {
    background-color: Highlight;
}

th {
    background-color: #ccd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: azure;
}


